<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanxiao.mybatis_in_spring.mapper.UserMapper">
    <select id="selectByPrimaryKey" resultType="com.hanxiao.mybatis_in_spring.bean.User">
        select id, username, password, age, birthday
        from user
        where id = #{id}
    </select>

    <insert id="insertUser">
        insert into user values(null, #{username}, #{password}, #{age}, #{birthday})
    </insert>
</mapper>